body {
  /* background-image: url(../images/coming-soon-bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.img1 {
  font-size: 17px;
  font-family: Atomic Age;
}

.img1 img {
  margin: 27px auto 0 auto;
}

.pic1 img {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  width: 180px;
  height: 200px;
  margin-top: 120px;
  margin-left: 10px;
}

.pic1 {
  position: relative;
  animation: moveLeftUp 5s forwards;
}

@keyframes moveLeftUp {
  0% {
    transform: none;
  }
  50% {
    transform: translate(-100%, -100%) rotate(-55deg);
  }
  75% {
    transform: none;
  }
}

.pic2 img {
  max-width: 170px;
  height: 195px;
  margin: 350px 0 0 0;
  padding-left: 20px;
  align-self: center;
}

.pic2 {
  position: relative;
  animation: moveRightUp 4s forwards;
}

@keyframes moveRightUp {
  0% {
    transform: none;
  }
  50% {
    transform: translate(100%, -100%) rotate(15deg);
  }
  75% {
    transform: none;
  }
}
  .h6{
    font-family: 'Gothic A1';
    font: 24px;
  }
  .h1 {
    font-family: Montserrat;
    font-size: 60px;
    width: 100%;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }

  .email_query {
    border: 1px solid #f8f9fa;
    width: 60%;
    box-shadow: none;
    font-size: 15px;
    font-family: Montserrat;
  }
  .email_query input{
    color: #fff;
    background: transparent;
    border: none;
  }
  .email_query input::placeholder{
    color: #fff;
  }
.email_query button {
  cursor: pointer;
  color: rgb(243, 229, 229);
  /* font-weight: 600; */
  background: linear-gradient(to right,#0f1c51,#810ca1);
  margin: 0;
}
.email_query button:hover{
  color: #fff;
  background: linear-gradient(to left,rgb(73, 73, 227),rgb(232, 80, 179));
 
}

div.icon .fa {
  padding: 8px;
  font-size: 18px;
  width: 30px; 
  height: 30px; 
  text-align: center;
  text-decoration: none;
  margin: 3px;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: -1;
  position: relative;
}

div.icon:hover .fa{
  color: #fff;
  background: linear-gradient(to right, #dc57b4, #3333ff);
  transform: translateX(-3px); 
}

.fa-facebook,
.fa-twitter,
.fa-youtube,
.fa-instagram {
  color: white;
}

@media only screen and (max-width: 2560px){
  .pic2 img {
    max-width: 170px;
    height: 195px;
    margin: 350px 0 0 0;
    padding-left: 20px;
    align-self: center;
  }

  .pic1 img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    width: 180px;
    height: 200px;
    margin-top: 120px;
    margin-left: 10px;
  }

  .h3 {
    /* color: rgb(255, 255, 255); */
    font-size: 15px;
    font-family: 'Atomic Age';
    text-align: center;
  }

  .h6 {
  
    font-size: 22px;
    width: 90%;
    font-family: 'Gothic A1';
    text-align: center;
}
  }
  .h1 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    text-align: center;

  }

  .email_query {
    border: 1px solid #f8f9fa;
    width: 50%;
    box-shadow: none;
    font-size: 15px;
    font-family: Montserrat;
  }


  .email_query input {
    background-color: transparent;
    width: 252px;
  }

  .email_query button {
    cursor: pointer;
  }


@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .pic2 img {
    max-width: 170px;
    height: 195px;
    margin: 350px 0 0 0;
    padding-left: 20px;
    align-self: center;
  }

  .pic1 img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    width: 180px;
    height: 200px;
    margin-top: 120px;
    margin-left: 10px;
  }

  .h3 {
    /* color: rgb(255, 255, 255); */
    font-size: 15px;
    font-family: 'Atomic Age';
    text-align: center;
  }

  .h6 {
  
    font-size: 18.5px;
    font-family: 'Gothic A1';
    text-align: center;
  }

  .h1 {
    font-family: Montserrat;
    font-size: 60px;
    width: 100%;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }

  .email_query {
    border: 1px solid #f8f9fa;
    width: 60%;
    box-shadow: none;
    font-size: 15px;
    font-family: Montserrat;
  }

  .email_query input {
    background-color: transparent;
    width: 252px;
  }

  .email_query button {
    font-size: 17px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .pic2 img {
    max-width: 170px;
    height: 195px;
    margin: 350px 0 0 0;
    padding-left: 20px;
    align-self: center;
  }

  .pic1 img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    width: 180px;
    height: 200px;
    margin-top: 120px;
    margin-left: 10px;
  }

  .h3 {
    /* color: rgb(255, 255, 255); */
    font-size: 15px;
    font-family: Atomic Age;
    text-align: center;
  }

  .h6 {
    /* color: azure; */
    font-size: 13.5px;
    font-family: 'Gothic A1';
    text-align: center;
  }

  .h1 {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    text-align: center;

  }

  .email_query {
    border: 1px solid #f8f9fa;
    width: 60%;
    box-shadow: none;
    font-size: 15px;
    font-family: Montserrat;
  }

  .email_query input {
    background-color: transparent;
    width: 252px;
  }

  .email_query button {
    font-size: 17px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) and (min-width: 540px) {
  .pic2 img {
    max-width: 170px;
    height: 195px;
    margin: 250px 0 0 0;
    padding-left: 20px;
    align-self: center;
  }

  .pic1 img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    width: 180px;
    height: 200px;
    margin-top: 120px;
    margin-left: 10px;
  }

  .h3 {
    /* color: rgb(255, 255, 255); */
    font-size: 15px;
    font-family: Atomic Age;
    text-align: center;
  }

  .h6 {
    /* color: azure; */
    font-size: 13.5px;
    font-family:'Gothic A1';
    text-align: center;
  }

  .h1 {
    font-size: 45px;
    font-weight: 600;
    font-family: Montserrat;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }

  .email_query {
    border: 1px solid #f8f9fa;
    width: 50%;
    box-shadow: none;
    font-size: 10px;
    font-family: Montserrat;
  }

  .email_query input {
    background-color: transparent;
    width: 252px;
  }

  .email_query button {
    font-size: 17px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 540px) {
  .pic2 img {
    max-width: 170px;
    height: 195px;
    margin: 250px 0 0 0;
    padding-left: 20px;
    align-self: center;
  }

  .pic1 img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    width: 180px;
    height: 200px;
    margin-top: 120px;
    margin-left: 10px;
  }
  

  .h3 {
    /* color: rgb(255, 255, 255); */
    font-size: 15px;
    font-family: Atomic Age;
    text-align: center;
  }

  .h6 {
    /* color: azure; */
    font-size: 13.5px;
    font-family: 'Gothic A1';
    text-align: center;
  }

  .h1 {
    font-weight: 700;
    font-size: 24px;
    font-family: Montserrat;
    margin: 0px 0px 0px 0px;
    text-align: center;

  }

  .email_query {
    border: 1px solid #f8f9fa;
    width: 60%;
    box-shadow: none;
    font-size: 12px;
    font-family: Montserrat;
  }

  .email_query input {
    background-color: transparent;
    width: 252px;
    font-size: 10px;
  }

  .email_query button {
    font-size: 10px;
    cursor: pointer;
  }
}
.pic1 img {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  width: 180px;
  height: 200px;
  margin-top: 120px;
  margin-left: 10px;
}

.pic1 {
  position: relative;
  animation: moveLeftUp 5s forwards;
}

@keyframes moveLeftUp {
  0% {
    transform: none;
  }
  50% {
    transform: translate(-100%, -100%) rotate(-55deg);
  }
  75% {
    transform: none;
  }
}

.pic2 img {
  max-width: 170px;
  height: 195px;
  margin: 350px 0 0 0;
  padding-left: 20px;
  align-self: center;
}

.pic2 {
  position: relative;
  animation: moveRightUp 4s forwards;
}

@keyframes moveRightUp {
  0% {
    transform: none;
  }
  50% {
    transform: translate(100%, -100%) rotate(15deg);
  }
  75% {
    transform: none;
  }
}

/* Mobile View */
@media only screen and (max-width: 767px) {
  .pic1,
  .pic2 {
    display: none;
  }
}
